<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${aspnet-request-url} | ${message} ${exception:format=tostring}"/>
		
		<target xsi:type="File" name="eventsfile" fileName="${basedir}/logs/nlog-events-${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="logfile"/>

		<logger name="EventsLogger" minlevel="Info" writeTo="eventsfile"/>
	</rules>
</nlog>